.myheader {
    background: #5fc0cd;
    padding: 0.375rem 0;
}
.myflex {
    display: flex;
    justify-content: center;
    position: relative;
}
.myflex button {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    border: none;
    width: 5.25rem;
    height: 2.625rem;
    font-size: 1.125rem;
}
.myflex button:first-child {
    color: #efeff0;
    background: #53a9b2;
}
.myflex button:nth-child(2) {
    background-color: #fff;
    color: #7ac2ca;
}
.myflex a {
	background: url('img/sprite_01.png') no-repeat -129px -26px;
	background-size: 151px 50px;
	width: 22px;
	height: 23px;
    position: absolute;
    right: 0;
    margin-top: -11.5px;
    margin-right: 1rem;
    top: 50%;
}

.mysecond {
    margin-top: 0.4375rem;
    padding-bottom: 0.4375rem;
    border-bottom: 1px solid #f2f3f2;
}
.mysecond>.row {
    display: flex;
    justify-content: center;
}
.mysecond a {
    display: inline-block;
    background: url('img/sprite_01.png') no-repeat 0 -28px;
    background-size: 151px 50px;
    width: 6px;
    height: 4px;
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -2px;
}
.mysecond div {
    position: relative;
    flex: 1;
    text-align: center;
    line-height: 2.96875rem;
}
.mysecond div:nth-child(2) {
    border-left: 1px solid #f2f3f2;
    border-right: 1px solid #f2f3f2;
}
.mymiddleflex {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    padding-bottom:  2rem ;
    padding-top: 1.03125rem;
    border-bottom: 1px solid #f2f3f2;
}
.mymiddleflex div {
    height: 6.5rem;
    padding-left: 0.9375rem;
}
.mymiddleflex div p {
    color: #c6c6c6;
}
.mymiddleflex div p:first-child span{
    display: inline-block;
	background: url('img/sprite_01.png') no-repeat -129px -2px;
	background-size: 151px 50px;
	width: 15px;
    height: 12px;
    margin-right: 0.5rem;
}

.mymiddleflex div p:nth-child(2) {
    margin-left: 1.8125rem;
    color: #484848;
}
.mymiddleflex div p:nth-child(2) span{
    background: url('img/sprite_01.png') no-repeat -82px -26px;
	background-size: 151px 50px;
	width: 10px;
    height: 17px;
    display: inline-block;
    margin-left: 0.8125rem;
    float: right;
    margin-right: 1rem;
}
.mymiddleflex div p:nth-child(2) i{
    float: right;
    font-style: normal;
    position: relative;
    color: #ce593d;
}

.mymiddleflex div p:last-child span {
    display: inline-block;
	background: url('img/sprite_01.png') no-repeat -81px -2px;
	background-size: 151px 50px;
	width: 12px;
    height: 12px;
    margin-right: 0.5rem;
}
footer {
    border-top: 1px solid #e2eaec;
    height: 5rem;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #f9fafc;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}
.mycenter a {
    background: url('img/sprite_01.png') no-repeat -27px -2px;
    background-size: 151px 50px;
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.mycenter {
    margin: 0 3.09375rem;
}
.myleft a {
	background: url('img/sprite_01.png') no-repeat -100px -1px;
	background-size: 151px 50px;
	width: 24px;
	height: 20px;
    display: block;
    margin-top: 0.5rem;
}
.myleft span {
    color: #5fc0cd;
    margin-top: 0.625rem;
    display: block;
    margin-left: -0.1rem;
}
.myright a {
    background: url('img/sprite_01.png') no-repeat 0 -2px;
	background-size: 151px 50px;
	width: 21px;
    height: 21px;
    display: block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
}
.myright span {
    color: #999999;
    margin-top: 0.625rem;
    display: block;
    margin-right: -0.2rem;
}